# Environments
.env
venv/
.venv/
env/
ENV/

# Python / Flask
__pycache__/
*.py[cod]
*$py.class
*.so
instance/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
